{% extends 'company_layout.html' %}
{% load static %}
{% block body_block %}


<form action="#" class="dashboard-form">
    <div class="dashboard-section upload-profile-photo">
        <div class="update-photo">
            <img class="image" src="{% static 'images/job/company-logo-1.png' %}" alt="">
        </div>
        <div class="file-upload">
            <input type="file" class="file-input">Change
        </div>
    </div>
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="user-check"></i>Basic Info</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Company Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Company Profile</label>
            <div class="col-sm-9">

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Industry</label>
            <div class="col-sm-9">
                <select class="form-control" name="" id="industry" data-text="name" data-value="name" data-placeholder="Country" data-src="">
                    <option>Industry</option>
                    <option>IT & Telecommunication</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Year of Establishment</label>
            <div class="col-sm-9">
                <input type="text" placeholder="YYYY" class="form-control" >

            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">BASIS Membership No</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="map"></i>Address</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Area</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">City</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Country</label>
            <div class="col-sm-9">
                <select class="form-control" name="" id="country" data-text="name" data-value="name" data-placeholder="Country" data-src="">
                    <option>Country</option>
                    <option>Bangladesh</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Post Code</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" >
        </div>
    </div>
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="user-check"></i>Contact Number</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">1</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">2</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">3</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Web Address</label>
        <div class="col-sm-9">
            <input type="url" class="form-control" placeholder="">
        </div>
    </div>

    <div class="dashboard-section social-inputs">
        <h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cast"><path d="M2 16.1A5 5 0 0 1 5.9 20M2 12.05A9 9 0 0 1 9.95 20M2 8V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6"></path><line x1="2" y1="20" x2="2" y2="20"></line></svg>Social Networks</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Social Links</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fab fa-facebook-f"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="facebook.com/username">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fab fa-twitter"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="twitter.com/username">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fab fa-google-plus"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="google.com/username">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <div class="input-group add-new">
                    <div class="input-group-prepend">
                        <div class="input-group-text dropdown-label">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Select</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select><i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Input Profile Link">
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="user-check"></i>Organizations's Head</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Designation</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mobile No</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="user-check"></i>Contact Person</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Designation</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mobile No</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input  type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dashboard-section media-inputs">
        <h4><i data-feather="image"></i>Photo &amp; Video</h4>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Intro Video</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Link</div>
                    </div>
                    <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=ZRkdyjJ_489M">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gallery</label>
            <div class="col-sm-9">
                <div class="input-group image-upload-input">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Image</div>
                    </div>
                    <div class="active">
                        <div class="upload-images">
                            <div class="pic">
                                <span class="ti-plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Legal Structure</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">No of Human resources</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">No of IT resources</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" >
        </div>
    </div>



    <div class="dashboard-section media-inputs">
        <h4><i data-feather="map-pin"></i>Company Location</h4>

<!--            <label class="col-sm-3 col-form-label">Latitude</label>-->
            <div class="col-sm-9">
                  <div class="form-row field-latitude" >
<!--            <input type="number" class="form-control" name="latitude" step="0.000001" id="id_latitude">-->
        </div>
            </div>

    <div class="form-group row">

        <div class="col-sm-13">
            <div class="form-row field-longitude"style="width:930px;">
<!--                <input type="number" name="longitude"  class="form-control" step="0.000001" id="id_longitude">-->
            </div>
        </div>
    </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-3">
            <button class="button">Save</button>
        </div>
    </div>

</form>


{% endblock %}
{% block extra_js %}
<script>
$('.edit_pro').addClass("active");



</script>
{% endblock %}

