{% extends 'common_layout.html' %}
{% load static %}
{% block body_block %}
{% autoescape off %}
<div id="jobs">

    <!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom job-detail">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="job-listing-details">
                        <div class="job-title-and-info">
                            <div class="title">
                                <div class="thumb" id="img">

                                </div>
                                <div class="title-body">
                                    <h4 id="title"></h4>
                                    <div class="info">
                                        <span class="company"><a id="company-details" href="#"><i class="fas fa-building" style="margin-right: 5px"></i><span class="name" id="company_name"></span></a></span>
                                        <span class="office-location"><a><i data-feather="map-pin"></i><span id="address"></span></a></span>
                                        <span class="job-type full-time"><a><i data-feather="clock"></i><span id="job_type" class="text-normal"></span></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <a class="save favourite" href="#"><i data-feather="heart"></i>Favorite</a>
                                <a class="apply" href="#" data-toggle="#" data-target="#apply-popup-id">Apply Online</a>
                            </div>
                        </div>
                        <div class="details-information section-padding-60">
                            <div class="row">
                                <div class="col-xl-7 col-lg-8">
                                    <div class="description details-section">
                                        <h4><i data-feather="align-left"></i>Job Description</h4>
                                        <span id="description">
                                    </span>
                                    </div>
                                    <div class="responsibilities details-section">
                                        <h4><i data-feather="zap"></i>Responsibilities</h4>
                                        <span id="responsibilities">
                                    </span>
                                    </div>
                                    <div class="edication-and-experience details-section">
                                        <h4><i data-feather="book"></i>Education</h4>
                                        <span id="education">
                                    </span>
                                    </div>
                                    <div class="other-benifit details-section">
                                        <h4><i data-feather="gift"></i>Salary</h4>
                                        <span id="salary_min"></span><span id="currency"></span> - <span id="salary_max"></span><span id="currency"></span>
                                        </span>
                                    </div>
                                    <div class="other-benifit details-section">
                                        <h4><i data-feather="gift"></i>Other Benefits</h4>
                                        <span id="other_benefits">
                                    </span>
                                    </div>
                                    <div class="job-apply-buttons">
                                        <a href="#" class="apply"  data-toggle="#" data-target="#apply-popup-id">Apply Online</a>
<!--                                        <a href="#" class="quick-apply" data-target="#apply-popup-id">Quick Apply</a>-->
                                        <a href="#" class="email"><i data-feather="mail"></i>Email Job</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 offset-xl-1 col-lg-4">
                                    <div class="information-and-share">
                                        <div class="job-summary">
                                            <h4>Job Summary</h4>
                                            <ul>
                                                <li><span>Published on:</span> <span id="post_date" class="detail-color"></span></li>
                                                <li><span>Vacancy:</span><span id="vacancy" class="detail-color"></span></li>
                                                <li><span>Job Type:</span> <span id="job_type" class="detail-color text-normal"></span></li>
                                                <li><span>Years of Experience:</span> <span id="experience" class="detail-color"></span></li>
                                                <li><span>Location:</span> <span id="address" class="detail-color"></span></li>
                                                <li><span>Salary:</span><span id="salary_min" class="detail-color"></span><span id="currency" class="detail-color"></span><span class="detail-color">-</span> <span id="salary_max" class="detail-color"></span><span id="currency" class="detail-color"></span></li>
                                                <li><span>Gender:</span></span><span id="job_gender" class="detail-color"></span></li>
                                                <li><span>Application Deadline:</span> <span id="application_deadline" class="detail-color"></span></li>
                                            </ul>
                                        </div>
                                        <br>
                                        <div class="job-summary">
                                            <h4>Required Skills</h4>
                                            <div class="job-skills">
                                                <div id="skills">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="share-job-post" style="padding-bottom: 3px;">
                                            <div class="addthis_inline_share_toolbox_algq"></div>
                                        </div>
                                        <div class="buttons">
                                            <a href="#" class="button print"><i data-feather="briefcase"></i>Add Job</a>
                                            <a href="#" class="button report"><i data-feather="flag"></i>Report Job</a>
                                        </div>
                                        <div class="job-location">
                                            <h4>Job Location</h4>
                                            <div id="map-area">
                                                <div class="cp-map" id="location"  data-lat="" data-lng="" data-zoom="14"></div>
                                                <!-- <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <div class="company-information details-section">
                                    <h4><i data-feather="briefcase"></i>About the Company</h4>
                                    <ul>
                                        <li><span>Company Name:</span> <span id="company_name" class="name detail-color"></span></li>
                                        <li><span>Address:</span> <span class="detail-color company_address"></span></li>
                                        <li><span>Website:</span> <a class="web_address" href="#"></a></li>
                                        <li><span>Company Profile:</span><span class="detail-color company_profile"></span></li>
                                        <li style="display:none;"><span id="industry" name="industry"></span></li>
<!--                                        <li id="company_profile">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum looked up one of the more obscure Latin words, consectetur.</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Candidates Details End -->

    <div class="apply-popup">
        <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control">
                            </div>
<!--                            <div class="form-group">-->
<!--                                <textarea class="form-control" placeholder="Message"></textarea>-->
<!--                            </div>-->
                            <div class="form-group file-input-wrap">
                                <label for="up-cv">
                                    <input id="up-cv" type="file">
                                    <i data-feather="upload-cloud"></i>
                                    <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                                </label>
                            </div>
                            <button class="button primary-bg btn-block">Apply Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jobs -->
    <div class="section-padding-bottom alice-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-header section-header-2 section-header-with-right-content">
                        <h2>Similar Jobs</h2>
                        <a href="{% url 'jobs' %}" class="header-right">+ Browse All Jobs</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="job-list">
                </div>
            </div>
        </div>
    </div>
    <!-- Jobs End -->
</div>

<!-- Call to Action -->


<!-- Call to Action End -->
{% endautoescape %}
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        var path = window.location.pathname.split('/')
        var id = path[path.length-2]
        var getUrl = '/api/job/get/'+ id + '/'
        get(getUrl, loadJob);
        favouriteJobAddRemove('jobs', '/api/job/favourite/toggle');
        applyOnlineJobAddRemove('jobs', '/api/job/apply/');
        if(!isLoggedIn()){
            $('.quick-apply').attr('data-toggle', 'modal');
        }else{

        }

    });



    function  loadJob(data){
        container = $('.job-detail');
        if(data){
            $('.save').attr("href", data.job_id);
            $('.apply').attr("href", data.job_id);
            var deadline= data.application_deadline;
            var momentObj = moment(data.post_date, 'YYYY-MM-DD');
            data.post_date = momentObj.format('DD/MM/YYYY');
            // var created_date = data.created_at
            // data.created_at = created_date.split("-").reverse().join("-")
            if(data.application_deadline){
                var app_deadline = moment(data.application_deadline, 'YYYY-MM-DD');
                data.application_deadline = app_deadline.format('DD/MM/YYYY');
            }
            $('#img').append('<img src=" '+data.company.profile_picture+'" class="img-fluid" style="width:70px;" alt="">')
            $('.cp-map').attr('data-lat',data.company.latitude);
            $('.cp-map').attr('data-lng',data.company.longitude);
            initMap();
            len= data.job_skills.length;
            for(x=0;x<len;x++){
                $('#skills').append('<p>'+ data.job_skills[x].name +'</p>')
            }
            var fav = $(".save");
            var apply = $(".apply");
            if(data.is_favourite == 'True' && isLoggedIn()){
                fav.addClass('active');
                fav.children().attr("fill", "#ff8fa6");
            }
            if(data.is_applied == 'True' && isLoggedIn()){
                apply.addClass('applied');
                apply.text('Applied');
                apply.attr('href', 'javascript:void(0)')
            }
            if(data.experience){
                if(data.experience == '1'){
                    data.experience = data.experience + ' year';
                }else{
                    data.experience = data.experience + ' years';
                }
            }
            json2Div(data, container);
            $('#company-details').text()
            $('#company-details').attr("href", "/company-details/"+data.company.name)
            if(data.company){
                $(".name").html(data.company.name);
            }
            if(data.company.address){
                $('.company_address').html(data.company.address);
            }else {
                $('.company_address').parent().hide();
            }
            if(data.company.web_address){
                $('.web_address').html(data.company.web_address);
            }else {
                $('.web_address').parent().hide();
            }
            if(data.company.company_profile){
                $('.company_profile').html(data.company.company_profile);
            }else {
                $('.company_profile').parent().hide();
            }
            identifier = data['job_id'];
            catUrl = '/api/job/similar/'+ identifier;
            get(catUrl,loadSimilarJob)

        }

    }
    function redirectPage() {
        window.location.href = "/job-list";

    }
    function loadSimilarJob(data) {
        if(data.length > 0){
            for(index=0;index<6;index++){
            var job_html= '<div class="job-list">'+
                '<div class="thumb">'+
                '<a href="#">'+
                '<img src="'+data[index].profile_picture+'" class="img-fluid" alt="">'+
                '</a>'+
                '</div>'+
                '<div class="body">'+
                '<div class="content">'+
                '<h4><a href="/job-detail/'+ data[index].slug+'">'+data[index].title+'</a></h4>'+
                '<div class="info">'+
                '<span class="company"><a href="#"><i class="fas fa-building" style="margin-right: 5px"></i>'+data[index].company_name+'</a></span>'+
                '<span class="office-location"><a href="#"><i data-feather="map-pin"></i>'+data[index].job_area+'</a></span>'+
                '<span class="job-type full-time"><a href="#"><i data-feather="clock"></i>'+data[index].job_type+'</a></span>'+
                '</div>'+
                '</div>'+
                '<div class="more">'+
                '<div class="buttons">'+
                '<a href="'+data[index].job_id+'" class="button apply" data-toggle="modal">Apply Now</a>'+
                '<a href="'+data[index].job_id+'" class="favourite"><i data-feather="heart"></i></a>'+
                '</div>'+
                '<p class="deadline">'+'Deadline: '+data[index].application_deadline+'</p>'+
                '</div>'+
                '</div>'+
                '</div>';
            $('#job-list').append(job_html);
            var el = $("#jobs").find("[href='"+ data[index].job_id +"']");
            el.each(function () {
                if($(this).hasClass('apply')){

                    // $(this).removeClass('active');
                    // showError('Oopss!', 'Job removed.')
                    if(data[index].is_applied == true && isLoggedIn()){

                        $(this).addClass('applied');
                        $(this).text('Applied');
                        $(this).attr('href', 'javascript:void(0)')
                    }
                }
                if($(this).hasClass("favourite")){
                    if(data[index].is_favourite == true && isLoggedIn()){
                        $(this).addClass('active');
                        $(this).children().attr("fill", "#ff8fa6");
                    }
                    // $(this).addClass('active');
                    // showSuccess('Successful!', 'Job saved as a favourite.')

                }

            });
            feather.replace();
        }
        }
    }
</script>
{% endblock %}