.display-none {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
:disabled {
    color: #e0c7c7 !important;
    cursor: default
}
.signin-button {
    background: transparent;
    font-size: 1.3rem;
    position: relative;
    padding-left: 15px;
}

.my-error-class{
    color:#FF0000!important;
}
