.display-none {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
:disabled {
    color: #e0c7c7 !important;
    cursor: default
}
.signin-button {
    background: transparent;
    font-size: 1.3rem;
    position: relative;
    padding-left: 15px;
}

.my-error-class{
    color:#FF0000!important;
}

.question-mark{
    position: absolute;
    top: 258px;
    right: 2px;
}

.tooltip .tooltip-inner{
    font-size: 20px;
    color: #000;
    text-align: left;
    min-width: 250px;
}

.pass-hint{
    position: absolute;
    top: 20px;
    right: 2px;
}

/*job skills*/
.bootstrap-tagsinput{
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 0;
    line-height: 28px;
    border-radius: 0;
    width: 100%;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background-color: #246df8;
}
.bootstrap-tagsinput .label{
    padding: .2em .6em .3em;
    border-radius: .25em;
}

