.display-none {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
:disabled {
    color: #e0c7c7 !important;
    cursor: default
}
.signin-button {
    background: transparent;
    font-size: 1.3rem;
    position: relative;
    padding-left: 15px;
}

.my-error-class{
    color:#FF0000!important;
}

.question-mark{
    position: absolute;
    top: 258px;
    right: 2px;
}

.tooltip .tooltip-inner{
    font-size: 20px;
    color: #000;
    text-align: left;
    min-width: 250px;
}

.pass-hint{
    position: absolute;
    top: 20px;
    right: 2px;
}

/*job skills*/
.bootstrap-tagsinput{
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 0;
    line-height: 28px;
    border-radius: 0;
    width: 100%;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background-color: #246df8;
}
.bootstrap-tagsinput .label{
    padding: .2em .6em .3em;
    border-radius: .25em;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover, .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.job-skills{
    margin-top: 20px;
}

.job-skills p{
     display: block;
     border: 1px solid rgba(0, 0, 0, 0.05);
     padding: 3px 15px;
     margin-top: 8px;
     border-radius: 3px;
     width: fit-content;
    background-color: white;
}

.skill-label{
    font-size: 1.5rem;
    display: block;

}
/*job skills*/

/*job detail*/
.detail-color{
    color: #6f7484!important;
}

.details-section span{
    color: #6f7484;
}
a.save.favourite.active {
    color: #ff8fa6;
    border-color: #ff8fa6;
}

a.save.apply.active {
    color: white;
    border-color: red;
    background-color: blue;
}

.information-and-share .job-location {
    padding: 15px;
}
/*job detail*/

/*fontawesome icons*/
.newsletter-form .fas {
    color: #FFFFFF;
}
.fa, .fas {
    color: #246df8;
}
/*fontawesome icons*/




 .job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:after {
    content: " BDT - ";
 }
.job-filter .nstSlider .grip-label .rightLabel:after {
    content: " BDT";
 }
 .job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:before {
     content: '';
 }

 .job-filter-wrapper .job-filter .nstSlider .grip-label .leftLabel:after {
     padding-left: 0;
 }

 .job-filter-wrapper .job-filter .nstSlider .grip-label .rightLabel:before {
     content: '';
 }



  .job-filter-wrapper #experience-filter .nstSlider .grip-label .ex-leftLabel:after {
    content: " Year - ";
 }
#experience-filter .nstSlider .grip-label .ex-rightLabel:after {
    content: " Year";
 }
 .job-filter-wrapper #experience-filter .nstSlider .grip-label .leftLabel:before {
     content: '';
 }

 .job-filter-wrapper #experience-filter .nstSlider .grip-label .leftLabel:after {
     padding-left: 0;
 }

 .job-filter-wrapper #experience-filter .nstSlider .grip-label .rightLabel:before {
     content: '';
 }

 /*forgot password*/
.padding-bottom-150 {
    padding-bottom: 150px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-bottom-180 {
    padding-bottom: 180px;
}

.padding-top-180 {
    padding-top: 180px;
}

.green-color{
    color: #008000!important;
}

.red-color{
    color: #FF0000!important;
}
.padding-icon-10{
    padding-right: 10px;
}
 /*forgot password*/
.navbar .navbar-nav.ml-auto.main-nav li.social-url-wrapper a{
    display: inline-block;
}