{% extends "admin/base_site.html" %}
{% block content %}
    {% load static %}
    <head>
        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- END: Theme CSS-->
        <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
    <div>
        <h1>Create Questionnaire</h1>
    </div>
    <section class="">
        <div class="row">
            <div class="form-group col-md-3">
                <label>Questionirrie Name: </label>
                <input class="form-control" id="questionnaire_name" type="text" name="ques_name" required>
            </div>
            <div class="form-group col-md-3">
                <label>Subject: </label>
                <select id="subject" class="form-control">
                    <option value="" >------</option>
                    {% for sub in sub %}
                        <option value="{{ sub.id }}">{{sub.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Topic: </label>
                <select id="topic" class="form-control">
                    <option value="" disabled>------</option>
                    {% for topics in topics %}
                        <option value="{{ topics.id }}">{{topics.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Subtopic: </label>
                <select id="sub_topic" class="form-control">
                    <option value="" disabled>------</option>
                    {% for sub_topics in sub_topics %}
                        <option value="{{sub_topics.id }}">{{sub_topics.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="projectinput8">Remarks</label>
            <textarea id="remarks" rows="5" class="form-control" name="remarks" placeholder="Remarks"></textarea>
        </div>

    </section>

    <section>
        <div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#search-question" >
                Search Questions
            </button>
            <div class="collapse" id="search-question" >
                <div class="row">
                </div>
                <form method="GET" action="." class="search-form">
                    <br>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                {% if ques is not None %}
                                    <input type="text" id="question_contains" class="form-control round" placeholder="Question" name="question_contains" value="{{ ques }}">
                                {% else %}
                                    <input type="text" id="question_contains" class="form-control round" placeholder="Question" name="question_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                {% if subject is not None %}
                                    <input type="text" id="subject_contains" class="form-control round" placeholder="Subject" name="subject_contains" value="{{ subject }}">
                                {% else %}
                                    <input type="text" id="subject_contains" class="form-control round" placeholder="Subject" name="subject_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                {% if topic is not None %}
                                    <input type="text" id="topic_contains" class="form-control round" placeholder="Topic" name="topic_contains" value="{{ topic }}">
                                {% else %}
                                    <input type="text" id="topic_contains" class="form-control round" placeholder="Topic" name="topic_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                {% if sub_topic is not None %}
                                    <input type="text" id="subtopic_contains" class="form-control round" placeholder="Sub Topic" name="subtopic_contains" value="{{ sub_topic }}">
                                {% else %}
                                    <input type="text" id="subtopic_contains" class="form-control round" placeholder="Sub Topic" name="subtopic_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="form-group">
                                {% if qtype is not None %}
                                    <input type="text" id="qtype_contains" class="form-control round" placeholder="Question Type" name="qtype_contains" value="{{ qtype }}">
                                {% else %}
                                    <input type="text" id="qtype_contains" class="form-control round" placeholder="Question Type" name="qtype_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="form-group">
                                {% if difficulty is not None %}
                                    <input type="text" id="difficulty_contains" class="form-control round" placeholder="Difficulty" name="difficulty_contains" value="{{ difficulty }}">
                                {% else %}
                                    <input type="text" id="difficulty_contains" class="form-control round" placeholder="Difficulty" name="difficulty_contains">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <button type="button" id="ques_search" class="btn btn-primary" style="float: right; width:100%;">Submit</button>
                        </div>
                    </div>
                </form>
                <div>
                    <table id="questable" class="table dataTable table-striped table-bordered">
                        <thead>
                        <input type="hidden" id="ques_id" name="ques_id" value="Question ID">
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="form-actions right">
                        <div class="col-md-12">
                            {% if ques_list.has_other_pages %}
                                <ul id="question-list-pagination" class="pagination">
                                    {% if ques_list.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ ques_list.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                    {% endif %}
                                    {% for i in ques_list.paginator.page_range %}
                                        {% if ques_list.number == i %}
                                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if ques_list.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ ques_list.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" action=".">
                {% csrf_token %}
                <br>
                <div>
                    <table id="questionirrietable" class="table table-striped table-bordered">
                        <tr>
                            <th class="">Question
                            </th>
                            <th class="">Question Type
                            </th>
                            <th class="">Difficulty
                            </th>
                            <th class="">Subject
                            </th>
                            <th class="">Topic
                            </th>
                            <th class="">Sub Topic
                            </th>
                            <th class="">Action
                            </th>
                        </tr>

                    </table>
                </div>
                <div class="form-actions right">
                    <button type="submit" class="question-submit btn btn-primary" id="create_questionnaire">
                        <i class="fa fa-check-square-o"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </section>


    </body>

    <script>

        $(document).ready(function() {
            $("#questable ").on('click', '.selectbutton', function () {
                $(this).text('Remove').attr('class', 'removebutton text-white btn btn-danger').parent('td').parent('tr').clone().appendTo('#questionirrietable');
                $(this).parent().parent().remove();
                {#localStorage.setItem( "tabledata", $("#questionirrietable").html() );#}
            });

            {#var tabledata  = localStorage.getItem( "tabledata" );#}
            {#console.log(localStorage.getItem("tabledata"));#}
            {#$("#questionirrietable").html( tabledata );#}

            $("#questionirrietable ").on('click', '.removebutton', function () {
                $(this).text('Select').attr('class', 'selectbutton text-white btn btn-primary').parent('td').parent('tr').clone().appendTo('#questable');
                $(this).parent().parent().remove();
                {#localStorage.setItem( "tabledata", $("#questionirrietable").html() );#}
            });


            $('#subject').on('change', function () {
                var subjectId = $(this).val();
                $.ajax({
                    url: '/admin/questionnaire/questionnaire/load_topics/',
                    data: {
                        'subject': subjectId
                    },
                    success: function (data) {
                        $("#topic").html(data);
                        $("#sub_topic").html('<option></option>')
                    }
                });
            });

            $('#topic').on('change', function () {
                var topicId = $(this).val();
                $.ajax({
                    url: '/admin/questionnaire/questionnaire/load_sub_topics/',
                    data: {
                        'topic': topicId
                    },
                    success: function (data) {
                        $("#sub_topic").html(data);
                    }
                });
            });

            $('#ques_search').on('click', function (event) {
                event.preventDefault()
                question_contains = $('#question_contains').val();
                console.log(question_contains)
                qtype_contains = $('#qtype_contains').val();
                console.log(qtype_contains)
                difficulty_contains = $('#difficulty_contains').val();
                subject_contains = $('#subject_contains').val();
                topic_contains = $('#topic_contains').val();
                subtopic_contains = $('#subtopic_contains').val();
                $.ajax({
                    type: 'GET',
                    url: '/admin/questionnaire/questionnaire/search_question/',
                    data: {
                        'question_contains': question_contains,
                        'qtype_contains': qtype_contains,
                        'difficulty_contains': difficulty_contains,
                        'subject_contains': subject_contains,
                        'topic_contains': topic_contains,
                        'subtopic_contains': subtopic_contains,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        $("#questable tbody").html(data.question_list);

                    }
                });
            });

            $('#create_questionnaire').on('click',function () {
                questionnaire_name = $('#questionnaire_name').val()
                subject = $('#subject').val()
                topics = $('#topic').val()
                sub_topics = $('#sub_topic').val()
                remarks = $('#remarks').val()
                data= []

                $('#questionirrietable tr').each(function (index) {
                    id = $(this).find('#ques_id').val();
                    data.push(id);
                });


                $.ajax({
                    type: 'POST',
                    url: '/admin/questionnaire/questionnaire/questionnaire_creation/',
                    data: {
                        'questionnaire_name': questionnaire_name,
                        'subject': subject,
                        'topics': topics,
                        'sub_topics': sub_topics,
                        'remarks' : remarks,
                        'ques_id_list' : data.toString(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: relocate
                });


            });
        });
        function relocate(){
            var url= '/admin/questionnaire/questionnaire/'
            window.location.href = url
        }
    </script>
{% endblock %}
