{% extends 'professional_layout.html' %}
{% load static %}

<!-- Breadcrumb -->
    {% block professional_breadcrumb %}
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>Applied Jobs</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Applied Jobs</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
        {% endblock %}
    <!-- Breadcrumb End -->

{% block professional_block %}
    <div class="dashboard-applied">
        <h4 class="apply-title"></h4>
        <div class="dashboard-apply-area">
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
       $(document).ready(function() {
           $('.applied-job-bar').addClass('active')
        var path = window.location.pathname.split('/')
        var id = path[path.length-2]
        var getUrl = '/api/job/applied/';
        get(getUrl, appliedJobs);
        TokenAuthenticate();


    });
       function  appliedJobs(data){
            number_of_jobs_applied=data.length;
            $('.apply-title').append(number_of_jobs_applied," Job Applied");
            for(index=0;index<data.length;index++){
            var applied_jobs = '<div class="job-list">'+
                      '<div class="thumb">'+
                        '<a href="#">'+
                           '<img src="'+data[index].company.profile_picture+'" class="img-fluid" style="max-width:70px;" alt="">'+
                        '</a>'+
                      '</div>'+
                      '<div class="body">'+
                        '<div class="content">'+
                          '<h4><a href="/job-detail/'+ data[index].slug+'">'+data[index].title+'</a></h4>'+
                          '<div class="info">'+
                            '<span class="company"><a href="/company-details/'+data[index].company.name+'"><i class="fas fa-building" style="margin-right: 5px"></i>'+data[index].company.name+'</a></span>'+
                            '<span class="office-location"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>'+data[index].address+'</a></span>'+
                            '<span class="job-type freelance"><a href="#"><img style="margin-right: 6px; vertical-align: top; padding-top: 5px;" src="/static/images/img_clock.png" width="12">'+data[index].job_type+'</a></span>'+
                          '</div>'+
                        '</div>'+
                        '<div class="more">'+
                          '<div class="buttons">'+
                            '<a href="#" class="button">Apply Now</a>'+
                            '<a href="#" class="favourite"><i data-feather="heart"></i></a>'+
                          '</div>'+
                          '<p class="deadline">Deadline: Oct 31, 2018</p>'+
                        '</div>'+
                      '</div>'+
                    '</div>';

                 $('.dashboard-apply-area').append(applied_jobs);
        }

}

    </script>
{% endblock %}