<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <meta name="X-CSRF-TOKEN" content="44f02902-3ac0-4d5a-86e2-da3d17430c26"/>
    <title>P7</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />

    <!-- External Css -->
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css'%}" />
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/et-line.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/plyr.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/flag.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/jquery.nstSlider.min.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/faviconl.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icon-114x114.png' %}">
    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{% static '/assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static '/assets/js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<style>
    .question-mark1{
    position: relative;
        float: right;
        bottom: 20px;

}


</style>
<body>

<header class="header-2 access-page-nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-top">
                    <div class="logo-area">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo-2.png' %}" alt=""></a>
                    </div>
                    <div class="top-nav">
                        <a href="/professional/sign-in/" class="account-page-link">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="padding-top-90 padding-bottom-90 access-page-bg">
    <div class="container padding-top-100">
        <div class="row">
            <div id="form-box" class="col-xl-4 col-md-6">
                <div class="access-form">
                    <div class="form-header" id="form_title">
                        <h5><i data-feather="lock"></i>Change Password</h5>
                    </div>

                    <form action="/api/pro/change-password/" id="change-password-form" novalidate="novalidate" method="post" class="ajax" data-callback="changePasswordCallback">


                        <div class="form-group display-none">
                            <input type="hidden" name="user_id" id="user_id"   value="">
                        </div>

                        <div class="form-group" id="cpass">
                            <input type="password" name="old_password" id="old_password"  placeholder="Current Password" class="form-control" required data-msg-required="Please enter current password" >

                        </div>

                         <div class="form-group">
                            <input type="password" minlength="8" id="new_password" regex='(?=.*?[0-9])(?=.*?[A-Za-z]).+' name="new_password" placeholder="New Password" class="form-control" required data-msg-required="Password is required">
                           <i class="fas fa-question-circle question-mark1" data-toggle="tooltip" title="Password must be at least 8 characters long with at least one digit and one letter."></i>
                        </div>


{#                              <i class="fas fa-question-circle question-mark" data-toggle="tooltip" title="Password must be at least 8 characters long with at least one digit and one letter."></i>#}


<!--                        <div class="form-group">-->
<!--                            <input type="password" name="new_password" id="new_password" placeholder="New Password" class="form-control" required data-msg-required="Please enter new password">-->
<!--                        </div>-->

						<div class="form-group">
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" class="form-control" required data-msg-required="Please confirm new password" data-rule-equalto="#new_password" data-msg-equalto="New password and confirm new password should be same!!">
                        </div><br><br/>

                        <button class="button primary-bg btn-block">Save Change</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/feather.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.nstSlider.min.js' %}"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/assets/js/visible.js' %}"></script>
<script src="{% static '/assets/js/jquery.countTo.js' %}"></script>
<script src="{% static '/assets/js/chart.js' %}"></script>
<script src="{% static '/assets/js/plyr.js' %}"></script>
<script src="{% static '/assets/js/tinymce.min.js' %}"></script>
<script src="{% static '/assets/js/slick.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static '/assets/js/jquery.cookie.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static '/assets/js/form2js.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/datePicker.js' %}"></script>
<script src="{% static 'dashboard/js/upload-input.js' %}"></script>
<script src="{% static '/assets/js/sweetalert2@9.js' %}"></script>
<script>
   $(document).ready(function() {
        var path = window.location.pathname.split('/');
        var id = path[path.length-2];

        $("#change-password-form").validate({
            errorClass : 'my-error-class'
        });
         $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            trigger: 'click',
            placement: 'bottom',
        });
        initAjaxForms();
        var getUrl = '/api/professional/profile/'+ id + '/';
        get(getUrl, loadProfile);

        function loadProfile(data)
        {
        uID = data.personal_info.user;


        $("#user_id").val(uID);
        }
   });

   function changePasswordCallback(data){
   //console.log('data.responseJSON.message' , data.responseJSON.message)


            if(data.responseJSON.message == 'Your password changed successfully')
            {
              {#showSuccess("Successful!", "Your password changed successfully!")#}
                $("#change-password-form").toggle();
                {#$("#form_title").toggle();#}
                $(".form-header").html('<h5 class="green-color"><i class="fas fa-check-square padding-icon-10 green-color"></i>Change Password Successfully</h5>');


            }
            else if(data.responseJSON.message == 'Your password was incorrect')
            {
                           $("p").remove(".pt");
                           $("#cpass").append("<p class='pt' style='color: red'>Current Password is not correct</p>");
            }
       }
        $( "#cpass" ).on( "click", function() {
            $("p").remove(".pt");
});
   $('html').on('click', function (e) {
        $('[data-toggle=tooltip]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.tooltip').has(e.target).length === 0) {
                $(this).tooltip('hide');
            }
        });
    });
</script>
</body>

</html>