{% include 'common_header.html' %}
{% block body_block %}

{% endblock %}
<!-- App Banner -->
<div class="padding-top-90 padding-bottom-90 app-download-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="app-download">
                    <h2>Get JobSearch App</h2>
                    <p>Searching for jobs never been that easy. Now you can find job matched your career expectation</p>
                    <div class="app-download-button">
                        <a style="display: none;" href="" class="apple-app">App Store</a>
                        <a style="display: none;" href="" class="android-app">Google Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- App Banner End -->
<!-- Footer -->
<!-- Footer -->
{% include 'footer.html' %}

<!-- Footer End -->

{% block extra_js %}

{% endblock %}


</body>
</html>