{% extends 'company_layout.html' %}
{% load static %}
{% block body_block %}

        <div class="dashboard-section user-statistic-block">
          <div class="user-statistic">
            <i data-feather="command"></i>
            <h3>6</h3>
            <span>Job(s) Posted</span>
          </div>
          <div class="user-statistic">
            <i data-feather="file-text"></i>
            <h3>44</h3>
            <span>Application(s)</span>
          </div>
          <div class="user-statistic">
            <i data-feather="users"></i>
            <h3>32</h3>
            <span>Shortlisted</span>
          </div>
        </div>


        <div class="dashboard-section dashboard-view-chart">
            <canvas id="view-chart" width="400" height="200"></canvas>
        </div>



  <div class="dashboard-section dashboard-recent-activity">
                  <h4 class="title">Recent Activity</h4>


				  <div class="activity-list">
				    <i class="fas fa-bolt"></i>
				    <div class="content">
				      <h5>Software Engineer(.NET) post Updated!</h5>
				      <span class="time">5 hours ago</span>
				    </div>
				    <div class="close-activity">
				      <i class="fas fa-times"></i>
				    </div>
				  </div>


				  <div class="activity-list">
				    <i class="fas fa-heart"></i>
				    <div class="content">
				      <h5>Mr. XYZ shortlisted for Software Engineer(PHP).</h5>
				      <span class="time">11 hours ago</span>
				    </div>
				    <div class="close-activity">
				      <i class="fas fa-times"></i>
				    </div>
				  </div>


				  <div class="activity-list">
				    <i class="fas fa-briefcase"></i>
				    <div class="content">
				      <h5>Software Engineer(Django) job Posted.</h5>
				      <span class="time">11 hours ago</span>
				    </div>
				    <div class="close-activity">
				      <i class="fas fa-times"></i>
				    </div>
				  </div>


				  <div class="activity-list">
				    <i class="fas fa-check-square"></i>
				    <div class="content">
				      <h5>Mr. Abc applied for Software Engineer(Python).</h5>
				      <span class="time">5 hours ago</span>
				    </div>
				    <div class="close-activity">
				      <i class="fas fa-times"></i>
				    </div>
				  </div>


				  <div class="activity-list">
				    <i class="fas fa-user"></i>
				    <div class="content">
				      <h5>Company profile Updated!</h5>
				      <span class="time">2 days ago</span>
				    </div>
				    <div class="close-activity">
				      <i class="fas fa-times"></i>
				    </div>
				  </div>





                </div>










{% endblock %}