<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Job Search: All the great jobs in one place!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <!-- External Css -->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css'%}">
    <!--    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}">-->
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/et-line.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/plyr.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/flag.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/slick.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery.nstSlider.min.css'%}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'images/faviconl.png'%}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icon-114x114.png'%}">

    {% block extra_css %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js'%}"></script>
    <script src="{% static 'assets/js/respond.min.js'%}"></script>
    <![endif]-->

</head>
<body>

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-xl absolute-nav transparent-nav cp-nav navbar-light bg-light fluid-nav">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo-2.png'%}" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto main-nav">
                {% include 'nav.html' %}
                <li>
                    <a class="facebook-url" href="#"><i> <img src="{% static 'images/social-icon/facebook.png'%}"style="height:27px;" class="img-fluid" alt=""></i>  </a>
                    <a class="linkedin-url" href="#"><i> <img src="{% static 'images/social-icon/linkedIn.png'%}" style="height:27px;margin-left:2.5px;margin-right:2.5px;" class="img-fluid" alt=""></i>  </a>
                    <a class="twitter-url" href="#"><i> <img src="{% static 'images/social-icon/twitter.png'%}"  style="height:27px;"class="img-fluid" alt=""></i>  </a>
                </li>
                <li class="menu-item login-popup" id="sign-in"><a href="{% url 'sign-in' %}">Login</a></li>
                <li class="menu-item login-popup" id="register"><a href="{% url 'register' %}">Register</a></li>
                <li class="menu-item" id="sign-out" style="display: none; "><a href="professional/sign-out/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Header End -->

{% block body_block %}

{% endblock %}
<!-- App Banner -->
<div class="padding-top-90 padding-bottom-90 app-download-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="app-download">
                    <h2>Get JobSearch App</h2>
                    <p>Searching for jobs never been that easy. Now you can find job matched your career expectation</p>
                    <div class="app-download-button">
                        <a href="" class="apple-app">App Store</a>
                        <a href="" class="android-app">Google Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- App Banner End -->
<!-- Footer -->
{% include 'footer.html' %}
<!-- Footer End -->

{% block extra_js %}

{% endblock %}

</body>
</html>