{% extends 'home_layout.html' %}
{% load static %}
{% block body_block %}

    <!-- Banner -->
    <div class="banner banner-4 banner-4-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h1>The Easiest Way to Find Job</h1>
                        <p> Find Jobs, Employment & Career Opportunities</p>

                        <div class="banner-search">
                            <form action="/api/trending_keyword_save/" id="search-form" class="search-form ajax" method="POST" data-callback = "redirectPage" novalidate="novalidate">
                                <input type="text" name="keyword" id="keyword" placeholder="Enter Keywords">
                                <input type="text" name="location" id="location" placeholder="Location">
                                <button class="button primary-bg"><i class="fas fa-search" style="color:#ffffff;"></i>Search Job</button>
                            </form>
                            <div class="trending-key">
                                <span id="trend-keywords">Trending Keywords:</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

<!-- Explore Job -->
<div class="section-padding-top padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Explore The Right Job</h2>
                    <p>Go for the top ones</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="explore-job">
                    <div class="explore-job-header">
                        <h5 class="title">TOP Categories</h5>
                        <i class="fas fa-city"></i>
                    </div>
                    <div class="key-info">
                        <ul id="category-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="explore-job">
                    <div class="explore-job-header">
                        <h5 class="title">TOP Skills</h5>
                        <i class="fas fa-tools"></i>
                    </div>
                    <div class="key-info">
                        <ul id="skill-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="explore-job">
                    <div class="explore-job-header">
                        <h5 class="title">Popular Jobs</h5>
                        <i data-feather="briefcase"></i>
                    </div>
                    <div class="key-info">
                        <ul id="popular-job-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Explore Job End -->

<!-- Jobs -->
<div class="section-padding alice-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header-2 section-header-with-right-content">
                    <h2>Recent Jobs</h2>
                    <a href="/api/jobs/" class="header-right">+ Browse All Jobs</a>
                </div>
            </div>
        </div>
        <div class="row" id="jobs">
            <div class="col" id="job-list">
                <div class="apply-popup">
                    <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full Name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group file-input-wrap">
                                            <label for="up-cv">
                                                <input id="up-cv" type="file">
                                                <i data-feather="upload-cloud"></i>
                                                <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                                            </label>
                                        </div>
                                        <div class="more-option">
                                            <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                                            <label for="radio-4">
                                                <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                                            </label>
                                        </div>
                                        <button class="button primary-bg btn-block">Apply Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->

    <!-- Fun Facts -->
    <div class="padding-top-90 padding-bottom-60 fact-bg">
        <div class="container">
            <div class="row fact-items">
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <div class="fact-icon">
                            <i data-feather="briefcase"></i>
                        </div>
                        <p class="fact-number" id="job_counts"><span class="count" data-form="0" data-to=""></span></p>
                        <p class="fact-name">Open Jobs</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <div class="fact-icon">
                            <i data-feather="users"></i>
                        </div>
                        <p class="fact-number" id="candidate_count"><span class="count" data-form="0" data-to=""></span></p>
                        <p class="fact-name">Candidates</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <div class="fact-icon">
                            <i data-feather="file-text"></i>
                        </div>
                        <p class="fact-number" id="resume_count"><span class="count" data-form="0" data-to="28166"></span></p>
                        <p class="fact-name">Resume</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact">
                        <div class="fact-icon">
                            <i data-feather="award"></i>
                        </div>
                        <p class="fact-number" id="companies_count"><span class="count" data-form="0" data-to="1366"></span></p>
                        <p class="fact-name">Companies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fun Facts End -->

    <!-- Testimonial -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <img src="static/images/testimonial/quote.png" class="img-fluid" alt="">
                        </div>
                        <div class="testimonial-for">
                        </div>
                        <div class="testimonial-nav">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Career Advice -->
    <div class="padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-header">
                        <h2>Career Advice</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="career-advice">

            </div>
        </div>
    </div>
    <!-- Career Advice End -->




{% endblock %}

{% block extra_js %}
<script>


    $(document).ready(function() {
        $('#job-alert').validate({
                errorClass: "my-error-class"
            });
        TokenAuthenticate();
        initAjaxForms();
        statUrl = '/api/vital_stats/';
        key_url='/api/trending_keyword_show/';
        cat_url='/api/popular_categories/';
        skills_url='/api/top_skills/';
        careerUrl = '/api/career_advise_show/';
        testimonialrUrl = '/api/testimonial_show/';
        recentJobsUrl = '/api/recent_jobs/';
        popularJobsUrl = '/api/popular_jobs/';
        jobAlertUrl = '/api/professional/job_alert_notification/';
        get(cat_url,loadCategory);
        get(statUrl,loadStats);
        get(key_url,loadKey);
        get(careerUrl,loadAdvice);
        get(skills_url,loadSkills);
        get(recentJobsUrl,loadJobs);
        get(testimonialrUrl,loadTestimonial);
        get(popularJobsUrl,loadPopularJobs);
        get(jobAlertUrl, loadJobAlert);
        favouriteJobAddRemove('job-list', '/api/favourite_job_add/');
        // jobAlertRedirectPage();
    });





    function loadCategory(data) {
        for(index=0;index<data.length;index++){
            $('#category-list').append('<li><a href="#">'+ data[index].name +'<span>('+ data[index].num_posts +')</span></a></li>')
        }
    }

        function loadTestimonial(data) {
            for(index=0;index<data.length;index++){
                $('.testimonial-for').slick('slickAdd','<div class="testimonial-item">\n' +
                    '<p data-toggle="tooltip" title="'+ data[index].comment +'" style="display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden; margin: 0 auto;">“'+ data[index].comment +'”</p>\n' +
                    '<h5>'+data[index].client_name+'</h5>\n' +
                    '</div>')

                $('.testimonial-nav').slick('slickAdd','<div class="commenter-thumb">\n' +
                '                                <img src="'+ data[index].profile_picture +'" class="img-fluid commenter" alt="" style="width:150px;height:60px;">\n' +
                '                            </div>')

            }


        }



        function loadStats(data) {
            $('#candidate_count').text(data.professional_count)
            $('#job_counts').text(data.open_job)
            $('#companies_count').text(data.company_count)
            $('#resume_count').text(data.resume)

        }

        function loadCategory(data) {
            for(index=0;index<data.length;index++){
                $('#category-list').append('<li><a href="#">'+ data[index].name +'<span>('+ data[index].num_posts +')</span></a></li>')
            }
        }

        function loadSkills(data) {
            for(index=0;index<data.length;index++){
                $('#skill-list').append('<li><a href="#">'+ data[index].name +'<span>('+ data[index].skills_count +')</span></a></li>')
            }
        }

        function loadPopularJobs(data) {
            for(index=0;index<data.length;index++){
                $('#popular-job-list').append('<li><a href="#">'+ data[index].title +'<span>('+ data[index].favourite_count +')</span></a></li>')
            }
        }

    function loadJobs(data) {

        for(index=0;index<data.length;index++){
            var dateString = data[index].created_date;
            var momentObj = moment(dateString, 'YYYY-MM-DD');
            var dateMomentString = momentObj.format('MMM DD, YYYY');
            var job_html= '<div class="job-list">'+
                '<div class="thumb">'+
                '<a href="#">'+
                '<img src="'+data[index].profile_picture+'" class="img-fluid" alt="">'+
                '</a>'+
                '</div>'+
                '<div class="body">'+
                '<div class="content">'+
                '<h4><a href="'+'job-detail/'+data[index].slug+'">'+data[index].title+'</a></h4>'+
                '<div class="info">'+
                '<span class="company"><a href="#"><i data-feather="briefcase"></i>'+data[index].company_name+'</a></span>'+
                '<span class="office-location"><a href="#"><i data-feather="map-pin"></i>'+data[index].job_location+'</a></span>'+
                '<span class="job-type full-time"><a href="#"><i data-feather="clock"></i>'+data[index].employment_status+'</a></span>'+
                '</div>'+
                '</div>'+
                '<div class="more">'+
                '<div class="buttons">'+
                '<a href="javascript:void(0);" class="button" data-toggle="modal">Apply Now</a>'+
                '<a href="'+data[index].job_id+'" class="favourite"><i data-feather="heart"></i></a>'+
                '</div>'+
                '<p class="deadline">'+'Deadline: '+dateMomentString+'</p>'+
                '</div>'+
                '</div>'+
                '</div>';
            $('#job-list').append(job_html);
            var el = $("#job-list").find("[href='"+ data[index].job_id +"']");
            if(data[index].status == 'Yes' && isLoggedIn()){
                el.addClass('active');
            }
            feather.replace();
        }
    }

        function loadAdvice(data) {
            len= data.length;
            for(x=0;x<len;x++){
                var dateString = data[x].created_date
                var momentObj = moment(dateString, 'YYYY-MM-DD');
                var monthString = momentObj.format('MMM');
                var dayString = momentObj.format('DD');

                $('#career-advice').append('<div class="col-md-6 col-lg-4">' +
            ' <article class="blog-grid">' +
            ' <div class="body">' +
             '<span class="date">'+dayString+'<span>'+monthString+'</span></span>' +
            '<h3 style="min-height:50px;max-height:50px"><a href="blog-details.html" id="ad-title"></a>'+data[x].title+'</h3>' +
            '<p style="max-height:80px;min-height:80px"id="ad-description">'+data[x].short_description+'</p>' +
            '</div>' +
            '<div class="info">' +
            '<span class="author" id="ad-author"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>'+data[x].author+'</span>'+
            '</div>'+
            '</article>'+
            '</div>')

            }


        }
        function loadKey(data) {
            len= data.length;
            for(x=0;x<len;x++){
                $('#trend-keywords').append('<a href="http://127.0.0.1:8000/jobs/?keyword='+ data[x].keyword +'"><span style="padding-left: 10px">'+ data[x].keyword +'</span></a>')
            }
        }

        function redirectPage() {
            key = $('#keyword').val()
            loc = $('#location').val()
            window.location.href = "/jobs/?keyword="+ key +"&location="+ loc;
        }

        function loadJobAlert(data) {
            if(data.code == 200 && data.status == 'subscribed'){
                $('#job-alert').addClass('display-none');
                $('.footer-newsletter p').html('You have subscribed job alert.').removeClass('display-none');
            }
            else if(data.code == 200 && data.status == 'not subscribed'){
                $('#job-alert').removeClass('display-none');
                $('.footer-newsletter p').html('Get e-mail updates about our latest news and Special offers.').removeClass('display-none');
            }
            else {
                $('#job-alert').removeClass('display-none');
                $('.footer-newsletter p').html('Get e-mail updates about our latest news and Special offers.').removeClass('display-none');
            }
        }

        function jobAlertRedirectPage(data) {
            if(data.responseJSON.status == 'subscribed'){
                window.location.href = "/professional/sign-in/";
            }
            else if(data.responseJSON.status == 'not subscribed'){
                email = $('#email').val();
                window.location.href = "/professional/sign-in/?email="+ email;
            }
            else if(data.responseJSON.status == 'subscribed_user'){
                $('#job-alert').addClass('display-none');
                $('.footer-newsletter p').html('You have subscribed job alert.').removeClass('display-none');
            }else{
                email = $('#email').val();
                window.location.href = "/professional/register/?email="+ email;
            }
            // $("#job-alert").on("submit", function(e){
            //     e.preventDefault();
            //     email = $('#email').val();
            //     if(!email){
            //         $('.newsletter-error').html("Please enter an email.").fadeIn().delay(3000).fadeOut();
            //     }else {
            //         window.location.href = "/professional/register/?email="+ email;
            //     }
            // });
        }

</script>
{% endblock %}