{% extends 'admin/base_site.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" />
{% endblock %}
{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="column">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content collpase show">
                                    <div class="card-body card-dashboard">
                                        {% if msg %}
                                            <div class="alert alert-danger" role="alert">
                                              {{ msg }}
                                            </div>
                                        {% endif %}

                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h3 class="center-align lighten-3"><strong>Excel file import:</strong> {{question.question}}</h3>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a class="btn btn-info pull-right text-white" href="{% static "excel-demo/question_template_demo.xlsx" %}">Download Template</a>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-content">
                                                    <input type="file" name="excelfile" required>
                                                    <button type="submit">Upload</button>
                                                </div>
                                            </div>
                                        </form>
                                        {% if uploaded_file_url %}
                                            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}